

html {
  box-sizing: border-box;
  background-color: #00FFFF
}

.message{
    background-color: coral;
    opacity: 0.3;
}

*, *:before, *:after {
  box-sizing: inherit;
}
input{
  display:block;
  width:100%;
  padding:.2em;
  margin: .2em 0 .6em;
  font-size:1.2em;
}
input[type=submit]{
  background: accent;
  background-color: coral;
  border:none;
  margin:1em 0;
  color:white;
  padding:1em;
  cursor: pointer;
}
.message{
  background: messagecolor;
  padding: 1em .5em;
  margin: 1em 0;
}


body{
  padding:5%;
  background: white;
  max-width:30em;
  margin: 6% auto;
  box-shadow:1em 1em 0 0 rgba(0,0,0,.2);
  font-family:Raleway, sans-serif;
}

span.psw {
    display: block;
    float: none;
 }
 .cancel {
    width: 20%;
    height: 50px;
    cursor: pointer;
    
 }